	       	<div class="row" >
	    		<div class="col label_pagina">Nombre del Proyecto</div>
	    	</div>
	    	<div class="row mb-4">
	    		<div class="col">
	    			{{form.nombre}}
	    		</div>
	    	</div>
	    	<div class="row" >
	    		<div class="col label_pagina">Descripcion del Proyecto</div>
	    	</div>
	    	<div class="row mb-4">
	    		<div class="col">
	    			{{form.descripcion}}
	    		</div>
	    	</div>
			<div class="row" >
	    		<div class="col  label_pagina">Autor del Proyecto</div>
	    	</div>
	    	<div class="row mb-4">
	    		<div class="col">
	    			{{form.autor}}
	    		</div>
	    	</div>
	    	<div class="row" >
	    		<div class="col label_pagina">Directorio para el Proyecto</div>
	    	</div>
	    	<div class="row  mb-4">
	    		<div class="col">
	    			{{form.directorio}}
	    		</div>
	    	</div>
	    	<div class="row" >
	    		<div class="col label_pagina ">Avatar del Proyecto</div>
	    	</div>
	    	{% if avatar %}
	    		<img src="{{avatar.url}}" width="50px" height="50px" alt="">
	    	{% endif %}
	    	<div class="row mb-4">
	    		<div class="col">
	    			{{form.avatar}}
	    		</div>
	    	</div>
