          <div class="row" >
            <div class="col label_pagina">Nombre de la Aplicacion</div>
          </div>
          <div class="row mb-4">
            <div class="col">
              {{form.nombre}}
            </div>
          </div>
          <div class="row" >
            <div class="col label_pagina">Descripcion de la Aplicacion</div>
          </div>
          <div class="row mb-4">
            <div class="col">
              {{form.descripcion}}
            </div>
          </div>
          <div class="row" >
            <div class="col label_pagina">Texto en el menu</div>
          </div>
          <div class="row mb-4">
            <div class="col">
              {{form.textoenmenu}}
            </div>
          </div>
