          <div class="row" >
            <div class="col label_pagina">Topico del tutorial</div>
          </div>
          <div class="row mb-4">
            <div class="col">
              {{form.topico}}
            </div>
          </div>
          <div class="row" >
            <div class="col label_pagina">Descripcion del topico</div>
          </div>
          <div class="row mb-4">
            <div class="col">
              {{form.descripcion}}
            </div>
          </div>
          <div class="row" >
            <div class="col label_pagina">Correlativo</div>
          </div>
          <div class="row mb-4">
            <div class="col">
              {{form.correlativo}}
            </div>
          </div>
          <div class="row" >
            <div class="col label_pagina ">Diagrama del topico</div>
          </div>
          {% if diagrama %}
            <img src="{{diagrama.url}}" width="50px" height="50px" alt="">
          {% endif %}
          <div class="row mb-4">
            <div class="col">
              {{form.diagrama}}
            </div>
          </div>
