          <div class="row" >
            <div class="col label_pagina">Nombre de la Propiedad</div>
          </div>
          <div class="row mb-4">
            <div class="col">
              {{form.nombre}}
            </div>
          </div>
          <div class="row" >
            <div class="col label_pagina">Descripcion de la Propiedad</div>
          </div>
          <div class="row mb-4">
            <div class="col">
              {{form.descripcion}}
            </div>
          </div>
          <div class="row" >
            <div class="col label_pagina">Tipo de propiedad</div>
          </div>
          <div class="row mb-4">
            <div class="col">
              {{form.tipo}}
            </div>
          </div>
          <div class="row" >
            <div class="col label_pagina ">Longitud del string</div>
          </div>
          <div class="row mb-4">
            <div class="col">
              {{form.largostring}}
            </div>
          </div>
          <div class="row" >
            <div class="col label_pagina ">Llave foranea</div>
          </div>
          <div class="row mb-4">
            <div class="col">
              {{form.foranea}}
            </div>
          </div>
          <div class="row " >
            <div class="col label_pagina ">Valor inicial</div>
          </div>
          <div class="row mb-4">
            <div class="col">
              {{form.inicial}}
            </div>
          </div>
          <div class="row " >
            <div class="col label_pagina ">Texto botones</div>
          </div>
          <div class="row mb-4">
            <div class="col">
              {{form.textobotones}}
            </div>
          </div>
          <div class="row " >
            <div class="col label_pagina ">Aparece en la lista</div>
          </div>
          <div class="row mb-4">
            <div class="col">
              {{form.enlista}}
            </div>
          </div>
          <div class="row " >
            <div class="col label_pagina ">Numero de columnas</div>
          </div>
          <div class="row mb-4">
            <div class="col">
              {{form.numerocolumnas}}
            </div>
          </div>
          <div class="row " >
            <div class="col label_pagina ">Formato de la fecha</div>
          </div>
          <div class="row mb-4">
            <div class="col">
              {{form.formatofecha}}
            </div>
          </div>
