      <div class="row label_pagina" >
        <div class="col label_pagina">Nombre del Modelo</div>
      </div>
      <div class="row mb-4">
        <div class="col">
          {{form.nombre}}
        </div>
      </div>
      <div class="row label_pagina" >
        <div class="col label_pagina">Descripcion del Modelo</div>
      </div>
      <div class="row mb-4">
        <div class="col">
          {{form.descripcion}}
        </div>
      </div>
      <div class="row label_pagina" >
          <div class="col label_pagina">Modelo padre</div>
        </div>
        <div class="row mb-4">
          <div class="col">
            {{form.padre}}
          </div>
        </div>
        <div class="row label_pagina" >
          <div class="col label_pagina">Nombre para identificacion</div>
        </div>
        <div class="row mb-4">
          <div class="col">
            {{form.nombreself}}
          </div>
        </div>
        <div class="row label_pagina" >
          <div class="col label_pagina ">Nombre para borrar</div>
        </div>
        <div class="row mb-4">
          <div class="col">
            {{form.nombreborrar}}
          </div>
        </div>
