	<div class="container-fluid">
		<div class="row " >
			<div class="col">
				<nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded alto_menu">
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
	          			<span class="navbar-toggler-icon"></span>
	        		</button>
					<a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="{%  url 'core:home' %}">Genesis</a>
	  				<div class="collapse navbar-collapse" id="navbarResponsive">
	              		<ul class="navbar-nav ">
	            			<li class="nav-item  px-lg-2" >
	              				<a class="nav-link text-uppercase text-expanded" href="{%  url 'proyectos:home' %}">Proyectos</a>
	            			</li>
	          			<!-- </ul> -->
	              		<!-- <ul class="navbar-nav "> -->
	            			<li class="nav-item  px-lg-2" >
	              				<a class="nav-link text-uppercase text-expanded" href="{%  url 'crear:proyecto' %}?proyecto_id={{proyecto_id}}">Proyecto</a>
	            			</li>
	          			<!-- </ul> -->
	              		<!-- <ul class="navbar-nav "> -->
	            			<li class="nav-item  px-lg-2" >
	              				<a class="nav-link text-uppercase text-expanded" href="{%  url 'crear:aplicaciones' %}?proyecto_id={{proyecto_id}}">Aplicaciones</a>
	            			</li>
	          			<!-- </ul> -->
	              		<!-- <ul class="navbar-nav "> -->
	            			<li class="nav-item  px-lg-2" >
	              				<a class="nav-link text-uppercase text-expanded" href="{%  url 'crear:modelos' %}?proyecto_id={{proyecto_id}}">Modelos</a>
	            			</li>
	          			<!-- </ul> -->
	              		<!-- <ul class="navbar-nav "> -->
	            			<li class="nav-item  px-lg-2" >
	              				<a class="nav-link text-uppercase text-expanded" href="{%  url 'crear:vistas' %}?proyecto_id={{proyecto_id}}">Views</a>
	            			</li>
	          			<!-- </ul> -->
	              		<!-- <ul class="navbar-nav "> -->
	            			<li class="nav-item  px-lg-2" >
	              				<a class="nav-link text-uppercase text-expanded" href="{%  url 'crear:forms' %}?proyecto_id={{proyecto_id}}">Forms</a>
	            			</li>
	          			<!-- </ul> -->
	              		<!-- <ul class="navbar-nav "> -->
	            			<li class="nav-item  px-lg-2" >
	              				<a class="nav-link text-uppercase text-expanded" href="{%  url 'crear:urls' %}?proyecto_id={{proyecto_id}}">Urls</a>
	            			</li>
	          			<!-- </ul> -->
	              		<!-- <ul class="navbar-nav "> -->
	            			<li class="nav-item  px-lg-2" >
	              				<a class="nav-link text-uppercase text-expanded" href="{%  url 'crear:templates' %}?proyecto_id={{proyecto_id}}">Templates</a>
	            			</li>
	          			<!-- </ul> -->
	              		<!-- <ul class="navbar-nav "> -->
	            			<li class="nav-item  px-lg-2" >
	              				<a class="nav-link text-uppercase text-expanded" href="{%  url 'crear:seguridad' %}?proyecto_id={{proyecto_id}}">Seguridad</a>
	            			</li>
	          			</ul>
	  				</div>
				</nav>
			</div>
		</div>
	</div>
