          <div class="row font_encabezado mb-5 text-center mt-5" style="height: 50px;">
            <div class="col-12 border bg-secondary text-white " style="padding-top: 10px">
              PARAMETRIZACION DE LA PROPIEDAD
            </div>
          </div>

          <div class="row ">
            <div class="col-12 text-justify">
              <div class="container-fluid ">
                <div class="row">
                  <div class="col">
                    <div class="container">
                      <div class="row">
                        <!-- Parametrizacion de encabezado -->
                        <div class="col-6">
                          <div class="container ">
                            <div class="row mt-4 sub_titulo">
                              <p>COLUMNAS</p>
                            </div>
                            <div class="row">
                              <div class="col label_pagina">
                                Texto de la columna
                              </div>
                            </div>
                            <div class="row mb-4">
                              <div class="col">
                                {{form.textocolumna}} 
                              </div>
                            </div>
                            <div class="row">
                              <div class="col label_pagina">
                                Justificacion texto columna
                              </div>
                            </div>
                            <div class="row mb-4">
                              <div class="col">
                                {{form.justificaciontextocolumna}} 
                              </div>
                            </div>

                            <div class="row mt-4 sub_titulo">
                               <p>ETIQUETAS</p>
                            </div>
                            <div class="row">
                              <div class="col label_pagina">
                                Texto de la etiqueta
                              </div>
                            </div>
                            <div class="row mb-4">
                              <div class="col">
                                {{form.etiqueta}} 
                              </div>
                            </div>
                            <div class="row">
                              <div class="col label_pagina">
                                La etiqueta arriba
                              </div>
                            </div>
                            <div class="row mb-4">
                              <div class="col">
                                {{form.etiquetaarriba}} 
                              </div>
                            </div>
                            <div class="row">
                              <div class="col label_pagina">
                                Texto Placeholcer
                              </div>
                            </div>
                            <div class="row mb-4">
                              <div class="col">
                                {{form.textoplaceholder}} 
                              </div>
                            </div>
                          </div>
                        </div>  
                      </div>
                    </div>      
                  </div>
                </div>
              </div>
            </div>
          </div>  
