      <div class="row font_encabezado mb-5 text-center mt-5" style="height: 50px;">
        <div class="col-12 border bg-secondary text-white " style="padding-top: 10px">
          PARAMETRIZACION DEL MODELO
        </div>
      </div>

      <div class="row ">
        <div class="col-12 text-justify">
          <div class="container-fluid ">
            <div class="row">
              <div class="col">
                <div class="container">
                  <div class="row">
                    <!-- Parametrizacion de encabezado -->
                    <div class="col-6">
                      <div class="container border">

                        <div class="row bg-danger text-center pt_5 mb-4">
                          <div class="col  text-white ">
                            MENU
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Texto opcion menu
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.textoopcionmenu}} 
                          </div>
                        </div>
                        
                        <div class="row bg-danger text-center pt_5 mb-4">
                          <div class="col  text-white ">
                            LISTA DE MODELOS
                          </div>
                        </div>
                        <div class="row sub_titulo mb-4">
                          TITULO
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Titulo para la lista
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.titulolista}} 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Font del titulo
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.fonttitulolista}} 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Color fondo del titulo
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.colorfondotitulolista}} 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Justificacion del titulo
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.justificaciontitulolista}} 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Alto del titulo
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.altotitulolista}} 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Justificacion vertical titulo
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.justificacionverticaltitulolista}} 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Color del titulo
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.colortitulolista}} 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Mayusculas
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.mayusculastitulolista}} 
                          </div>
                        </div>
                        <div class="row sub_titulo mb-4">
                          COLUMNAS DE LA LISTA
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Borde inferior
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.bordeinferior}} 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Font de nombres
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.fontcolumnas}} 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Color de columnas
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.colorcolumnas}} 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Color fondo de columnas
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.colorfondocolumnas}} 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Mayusculas
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.mayusculascolumnas}} 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Alto de columnas
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.altocolumnas}} 
                          </div>
                        </div>

                        <div class="row sub_titulo mb-4">
                          TEXTO DE LA LISTA
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Font del texto de lista
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.fonttextolista}} 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Color del texto de lista
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.colortextolista}} 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Color fondo texto de lista
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.colorfondotextolista}} 
                          </div>
                        </div>

                        <div class="row sub_titulo mb-4">
                          COLUMNAS EDICION Y BORRADO
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Texto editar y borrar
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.textoeditarborrar}} 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Font texto editar y borrar
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.fonteditarborrar}} 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Color de editar y borrar
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.coloreditarborrar}} 
                          </div>
                        </div>
                        <div class="row sub_titulo mb-4">
                          LINK NUEVO REGISTRO
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Texto del link
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.textolinknuevo}} 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Font texto del link
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.fontlinknuevo}} 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Color texto del link
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.colorlinknuevo}} 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            El link es boton
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.linkboton}} 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Color boton del link
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.colorbotonlinknuevo}} 
                          </div>
                        </div>
                        <div class="row sub_titulo mb-4">
                          ETIQUETAS
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Font etiquetas
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.fontetiqueta}} 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Color etiquetas
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.coloretiqueta}} 
                          </div>
                        </div>
                        <div class="row bg-danger text-center pt_5 mb-4">
                          <div class="col  text-white">
                            FORMULARIOS
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Controles automaticos
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.controlesautomaticos}} 
                          </div>
                        </div>
                      </div>
                    </div>  

                    <div class="col-6">
                      <div class="container border">
                        <div class="row bg-danger text-center pt_5 mb-4">
                          <div class="col  text-white">
                            MODELO NUEVO
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Texto del titulo
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.textotitulopagina}} 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Font texto del titulo
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.fonttextotitulopagina}} 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Color texto del titulo
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.colortextotitulopagina}} 
                          </div>
                        </div>

                        <div class="row sub_titulo mb-4">
                          COLUMNAS MODELO NUEVO
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Numero columnas izquierda
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.numerocolumnasizquierdanuevo}} 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Numero columnas modelo
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.numerocolumnasmodelonuevo}} 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Numero columnas derecha
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.numerocolumnasderechanuevo}} 
                          </div>
                        </div>

                        <div class="row bg-danger text-center pt_5 mb-4">
                          <div class="col text-white">
                            EDICION DEL MODELO 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Hijos contiguos al padre
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.hijoscontiguos}} 
                          </div>
                        </div>
                        <div class="row sub_titulo mb-4">
                          TITULO LISTA HIJOS
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Texto del titulo lista hijos
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.textotitulolistahijos}} 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Font texto titulo lista hijos
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.fonttextotitulolistahijos}} 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Color texto titulo lista hijos
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.colortextolistahijos}} 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Color fondo de titulo lista hijos
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.colorfondotitulolistahijos}} 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Mayusculas titulo lista hijos
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.mayusculastitulolistahijos}} 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Justificacion titulo lista hijos
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.justificaciontitulolistahijos}} 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Alto titulo lista hijos
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.altotitulolistahijos}} 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Justificacion vertical lista hijos
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.justificacionverticaltitulolistahijos}} 
                          </div>
                        </div>

                        <!-- columnas -->
                        <div class="row sub_titulo mb-4">
                          COLUMNAS LISTA HIJOS
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Color de texto columnas
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.colorcolumnaslistahijos}} 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Alto de columnas
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.altocolumnaslistahijos}} 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Font de texto columnas
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.fontcolumnaslistahijos}} 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Color fondo columnas hijos
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.fondocolumnaslistahijos}} 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Mayusculas
                          </div>
                        </div>
                        <div class="row mb-4 ">
                          <div class="col">
                            {{form.mayusculascolumnaslistahijos}} 
                          </div>
                        </div>
                        <div class="row sub_titulo mb-4">
                          COLUMNAS MODELO EDICION
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Numero columnas izquierda
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.numerocolumnasizquierdaedicion}} 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Numero columnas modelo
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.numerocolumnasmodeloedicion}} 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Numero columnas hijos
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.numerocolumnashijosedicion}} 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Numero columnas derecha
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.numerocolumnasderechaedicion}} 
                          </div>
                        </div>

                        <div class="row bg-danger text-center pt_5 mb-4">
                          <div class="col text-white">
                                BORRADO DE MODELOS
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Texto para borrado
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.textoborrado}} 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Texto del boton de borrado
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.textobotonborrado}} 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Font del texto de borrado
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.fonttextoborrado}} 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col label_pagina">
                            Color del texto de borrado
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            {{form.colortextoborrado}} 
                          </div>
                        </div>

                      </div>
                    </div>  
                  </div>
                </div>      
              </div>
            </div>
          </div>
        </div>
      </div>  
