			<div class="row font_encabezado mb-5 text-center mt-5" style="height: 50px;">
				<div class="col-12 border bg-secondary text-white " style="padding-top: 10px">
					PARAMETRIZACION DEL PROYECTO
				</div>
			</div>

			<div class="row ">
				<div class="col-12 text-justify">
					<div class="container-fluid ">
						<div class="row">
							<div class="col">
								<div class="container-fluid">
									<div class="row">
										<!-- Parametrizacion de encabezado -->
										<div class="col-6">
											<div class="container-fluid border">
												<div class="row bg-danger text-center pt_5 mb-4" >
													<div class="col  text-white">
														ENCABEZADO
													</div>
												</div>
												<div class="row">
													<div class="col label_pagina">
														Columnas izquierda encabezado
													</div>
												</div>
												<div class="row mb-4">
													<div class="col">
														{{form.columnasizquierdaencabezado}}	
													</div>
												</div>
												<div class="row">
													<div class="col label_pagina">
														Columnas derecha encabezado
													</div>
												</div>
												<div class="row mb-4">
													<div class="col">
														{{form.columnasderechaencabezado}}	
													</div>
												</div>
												<div class="row">
													<div class="col label_pagina">
														Color de fondo encabezado
													</div>
												</div>
												<div class="row mb-4">
													<div class="col">
														{{form.colorfondoencabezado}}	
													</div>
												</div>
												<div class="row">
													<div class="col label_pagina">
														Lista de fonts Google
													</div>
												</div>
												<div class="row mb-4">
													<div class="col">
														{{form.listafontsgoogle}}	
													</div>
												</div>
												<div class="row">
													<div class="col label_pagina">
														Alto del encabezado
													</div>
												</div>
												<div class="row mb-4">
													<div class="col">
														{{form.altoencabezado}}	
													</div>
												</div>
												<div class="row">
													<div class="col label_pagina">
														Titulo izquierda
													</div>
												</div>
												<div class="row mb-4">
													<div class="col">
														{{form.tituloizquierda}}	
													</div>
												</div>

												<div class="row bg-danger text-center pt_5 mb-4" >
													<div class="col  text-white">
														LOGO
													</div>
												</div>
												<div class="row">
													<div class="col label_pagina">
														Alto avatar logo
													</div>
												</div>
												<div class="row mb-4">
													<div class="col">
														{{form.altopixeles}}	
													</div>
												</div>
												<div class="row">
													<div class="col label_pagina">
														Ancho avatar logo
													</div>
												</div>
												<div class="row mb-4">
													<div class="col">
														{{form.anchopixeles}}	
													</div>
												</div>
												<div class="row">
													<div class="col label_pagina">
														Color fondo logo
													</div>
												</div>
												<div class="row mb-4">
													<div class="col">
														{{form.colorfondologo}}	
													</div>
												</div>
												<div class="row">
													<div class="col label_pagina">
														Numero de columnas
													</div>
												</div>
												<div class="row mb-4">
													<div class="col">
														{{form.numerocolumnas}}	
													</div>
												</div>
												<div class="row">
													<div class="col label_pagina">
														Justificacion del logo
													</div>
												</div>
												<div class="row mb-4">
													<div class="col">
														{{form.justificacion}}	
													</div>
												</div>
												<div class="row">
													<div class="col label_pagina">
														Justificacion vertical logo
													</div>
												</div>
												<div class="row mb-4">
													<div class="col">
														{{form.justificacionverticallogo}}	
													</div>
												</div>

												<div class="row bg-danger text-center pt_5 mb-4" >
													<div class="col  text-white">
														TITULO
													</div>
												</div>
												<div class="row">
													<div class="col label_pagina">
														Numero de columnas
													</div>
												</div>
												<div class="row mb-4">
													<div class="col">
														{{form.numerocolumnastitulo}}	
													</div>
												</div>
												<div class="row">
													<div class="col label_pagina">
														Texto del titulo
													</div>
												</div>
												<div class="row mb-4">
													<div class="col">
														{{form.textotitulo}}	
													</div>
												</div>
												<div class="row">
													<div class="col label_pagina">
														Font del titulo
													</div>
												</div>
												<div class="row mb-4">
													<div class="col">
														{{form.fonttitulo}}	
													</div>
												</div>
												<div class="row">
													<div class="col label_pagina">
														Color del titulo
													</div>
												</div>
												<div class="row mb-4">
													<div class="col">
														{{form.colortitulo}}	
													</div>
												</div>
												<div class="row">
													<div class="col label_pagina">
														Color fondo del titulo
													</div>
												</div>
												<div class="row mb-4">
													<div class="col">
														{{form.colorfondotitulo}}	
													</div>
												</div>
												<div class="row">
													<div class="col label_pagina">
														Justificacion del titulo
													</div>
												</div>
												<div class="row mb-4">
													<div class="col">
														{{form.justificaciontitulo}}	
													</div>
												</div>
												<div class="row">
													<div class="col label_pagina">
														Justificacion vertical titulo
													</div>
												</div>
												<div class="row mb-4">
													<div class="col">
														{{form.justificacionverticaltitulo}}	
													</div>
												</div>
										    	<div class="row" >
										    		<div class="col label_pagina ">Avatar del Titulo</div>
										    	</div>
										    	{% if avatartitulo %}
										    		<img src="{{avatartitulo.url}}" width="50px" height="50px" alt="">
										    	{% endif %}
										    	<div class="row mb-4">
										    		<div class="col">
										    			{{form.avatartitulo}}
										    		</div>
										    	</div>
												<div class="row">
													<div class="col label_pagina">
														Alto del avatar titulo
													</div>
												</div>
												<div class="row mb-4">
													<div class="col">
														{{form.altopixelestitulo}}	
													</div>
												</div>
												<div class="row">
													<div class="col label_pagina">
														Ancho del avatar titulo
													</div>
												</div>
												<div class="row mb-4">
													<div class="col">
														{{form.anchopixelestitulo}}	
													</div>
												</div>
											</div>
										</div>	
										<!-- Parametrizacion de menu -->
										<div class="col-6">
											<div class="container border">
												<div class="row bg-danger text-center mb-4  pt_5">
													<div class="col  text-white">
														MENU
													</div>
												</div>
												<div class="row">
													<div class="col label_pagina">
														Texto de opcion inicio
													</div>
												</div>
												<div class="row mb-4">
													<div class="col">
														{{form.textoopcioninicio}}	
													</div>
												</div>
												<div class="row">
													<div class="col label_pagina">
														Color del fondo
													</div>
												</div>
												<div class="row mb-4">
													<div class="col">
														{{form.colorfondomenu}}	
													</div>
												</div>
												<div class="row">
													<div class="col label_pagina">
														Color del texto de opciones
													</div>
												</div>
												<div class="row mb-4">
													<div class="col">
														{{form.colormenu}}	
													</div>
												</div>
												<div class="row">
													<div class="col label_pagina">
														Tiene color hover
													</div>
												</div>
												<div class="row mb-4">
													<div class="col">
														{{form.tienecolorhover}}	
													</div>
												</div>
												<div class="row">
													<div class="col label_pagina">
														Color hover de opciones
													</div>
												</div>
												<div class="row mb-4">
													<div class="col">
														{{form.colorhovermenu}}	
													</div>
												</div>
												<div class="row">
													<div class="col label_pagina">
														Font del texto de opciones
													</div>
												</div>
												<div class="row mb-4">
													<div class="col">
														{{form.fontmenu}}	
													</div>
												</div>
												<div class="row">
													<div class="col label_pagina">
														Mayusculas
													</div>
												</div>
												<div class="row mb-4">
													<div class="col">
														{{form.mayusculas}}	
													</div>
												</div>
												<div class="row">
													<div class="col label_pagina">
														Alto del menu
													</div>
												</div>
												<div class="row mb-4">
													<div class="col">
														{{form.altomenu}}	
													</div>
												</div>


												<div class="row bg-danger mb-4 text-center pt_5">
													<div class="col text-white">
														CUERPO
													</div>
												</div>
												<div class="row">
													<div class="col label_pagina">
														Numero de columnas izquierda
													</div>
												</div>
												<div class="row mb-4">
													<div class="col">
														{{form.numerocolumnasizquierda}}	
													</div>
												</div>

												<div class="row">
													<div class="col label_pagina">
														Numero de columnas centro
													</div>
												</div>
												<div class="row mb-4">
													<div class="col">
														{{form.numerocolumnascentro}}	
													</div>
												</div>

												<div class="row">
													<div class="col label_pagina">
														Numero de columnas derecha
													</div>
												</div>
												<div class="row mb-4">
													<div class="col">
														{{form.numerocolumnasderecha}}	
													</div>
												</div>

												<div class="row bg-danger mb-4 text-center pt_5">
													<div class="col  text-white">
														PIE DE PAGINA
													</div>
												</div>
												<div class="row">
													<div class="col label_pagina">
														Numero de divisiones
													</div>
												</div>
												<div class="row mb-4">
													<div class="col">
														{{form.numerodivisionespie}}	
													</div>
												</div>
												<div class="row">
													<div class="col label_pagina">
														Columnas por division
													</div>
												</div>
												<div class="row mb-4">
													<div class="col">
														{{form.columnasdivision}}	
													</div>
												</div>
												<div class="row bg-danger mb-4 text-center pt_5">
													<div class="col  text-white">
														SEGURIDAD
													</div>
												</div>
												<div class="row">
													<div class="col label_pagina">
														El proyecto tiene seguridad
													</div>
												</div>
												<div class="row mb-4">
													<div class="col">
														{{form.conseguridad}}	
													</div>
												</div>
											</div>
										</div>	
									</div>
								</div>			
							</div>
						</div>
					</div>
				</div>
			</div>	
