{% extends "core/base.html" %}

{% block menu %}
	{% include 'core/includes/menu_proyectos.html'%}
{% endblock %}

{% block cuerpo %}
	<div class="container mt-5">
		<div class="row">
			<div class="col-12">
				<form action="" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<p>Esta seguro de eliminar el topico: <b>{{nombre}}</b>?</p>
					<input type="submit" value="Aceptar" />
					<p><a href="{% url 'core:editar_tutorial_encabezado' tutorialencabezado_id %}">Cancelar</a></p>
				</form>
			</div>
		</div>
	</div>
{% endblock %}