{% extends 'core/home.html' %}
{% load static %}
{% block menu %}
	{% include 'core/includes/menu_que_es_genesis.html'%}
{% endblock %}

{% block cuerpo %}
	<h1 class="text-center">TUTORIAL</h1>
	<br>
	<div class="container">
		<div class="row mb-2 border border-bottom font-weight-bold">
			<div class="col-2">TOPICO</div>
			<div class="col-8">DESCRIPCION</div>
		</div>
		{% for tutorial in lista %}

		<div class="row font_lista mt-2">
			<div class="col-2">
				{{tutorial.topico}}
			</div>
			<div class="col-8">
				{{tutorial.descripcion|safe}}
			</div>
			<div class="col-1">
				<a href="{% url 'core:editar_tutorial_encabezado' tutorial.id %}">Editar</a>
			</div>
			<div class="col-1">
				<a href="{% url 'core:borrar_tutorial_encabezado' tutorial.id  %}">Borrar</a>
			</div>
		</div>		

		{% endfor %}
		<div class="row mt-3">
			<a href="{% url 'core:crear_tutorial_encabezado' %}" style="color:blue;">Ingreso de un nuevo topico</a>
		</div>
	</div>

{% endblock %}

