{% extends 'core/base.html' %}
{% load static %}

{% block menu %}
  {% include 'core/includes/menu_que_es_genesis.html'%}
{% endblock %}

{% block cuerpo %}

  <div class="container mt-5">
    <div class="row font_encabezado mb-5 text-center " style="height: 50px;">
      <div class="col-2"></div>
      <div class="col-8 border bg-secondary text-white " style="padding-top: 10px">
          NUEVO TOPICO
      </div>
      <div class="col-2"></div>
    </div>
    <div class="row mt-3">
      <div class="col-2"></div>
      <div class="col-md-8 mb-5">
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            {% include 'core/includes/controles_tutorialencabezado.html'%}
            <div class="text-center">
              <input type="submit" class="btn btn-primary btn-block mt-3" value="Grabar el topico" />
            </div>
        </form>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
{% endblock %}