{% extends 'core/base.html' %}
	{% load static %}
{% block menu %}
	{% include 'core/includes/menu_lista_proyectos.html'%}
{% endblock %}

{% block cuerpo %}

<div class="container mt-5 border">
	{% for item in listaproyectos %}
		{% if item.elemento == 'p' %}
		<div class="row mb-3 ml-1 mt-3">
			<div class="col">
				<img class="alto_ancho_imagen_arbol" src="{% static 'core/img/proyecto.png' %}" alt="">
				<a class="font_proyecto_arbol" href="{% url 'proyectos:editar' item.proyectoid %}">{{item.nombre}}</a>
			</div>
		</div>
		{% endif %}

		{% if item.elemento == 'a' %}
		<div class="row mb-3 ">
			<!-- <div class="col ml-3"></div> -->
			<div class="col" style="padding-left: 55px">
				<img class="alto_ancho_imagen_aplicacion_arbol" src="{% static 'core/img/aplicacion.png' %}" alt="">
				<a class="font_aplicacion_arbol" href="{% url 'aplicaciones:editar' item.aplicacionid %}?proyecto_id={{ item.proyectoid.id }}&aplicacion_id={{item.aplicacionid}}">{{item.nombre}}</a>
			</div>
		</div>
		{% endif %}

		{% if item.elemento == 'm' %}
		<div class="row mb-3">
			<div class="col" style="padding-left: {{item.identa}}px">
				<img class="alto_ancho_imagen_arbol" src="{% static 'core/img/modelo.png' %}" alt="">
				<a class="font_modelo_arbol" href="{% url 'modelos:editar' item.modeloid %}?aplicacion_id={{ item.aplicacionid }}">{{item.nombre}}</a>
			</div>
		</div>
		{% endif %}
		{% if item.elemento == 'd' %}
		<div class="row mb-3">
			<div class="col" style="padding-left: {{item.identa}}px ">
				<img class="alto_ancho_imagen_arbol" src="{% static 'core/img/propiedaddjango.png' %}" alt="">
				<a class="font_propiedad_arbol" href="{% url 'propiedades:editar' item.propiedadid %}?modelo_id={{ item.modeloid }}">{{item.nombre}}</a>
			</div>
		</div>
		{% endif %}
		{% if item.elemento == 'r' %}
		<div class="row mb-3">
			<div class="col" style="padding-left: {{item.identa}}px ">
				<img class="alto_ancho_imagen_arbol" src="{% static 'core/img/regladjango.png' %}" alt="">
				<a class="font_regla_arbol" href="{% url 'reglas:editar' item.reglaid %}?propiedad_id={{ item.propiedadid }}">{{item.mensaje}}</a>
			</div>
		</div>
		{% endif %}

	{% endfor %}
</div>
<!--  -->
{% endblock %}

