{% extends 'core/base.html' %}
{% load static %}
{% block menu %}
{% include 'core/includes/menu_crear.html'%}
{% endblock %}
{% block cuerpo %}
	<div class="container text-center mt-5">
		<div class="row font_encabezado mb-3 text-center">
			<div class="col-12">
				CREAR MODELOS
			</div>
		</div>
		<div class="row ">
<!-- 			<div class="col-2">
				{% block izquierda %}{% endblock %}
			</div> -->
			<div class="col text-justify font_lista">
				<div class="container font_lista">
					<div class="row border-bottom" style="font-weight: bold">
						<div class="col-2">MODULO</div>
						<div class="col-2">PADRE</div>
					</div>
					{% for item in lista %}
						{% if item.elemento == 'm' %}
							<div class="row mb-3 mt-2">
								<div class="col-2" style="color:red; font-weight: bold">
									{{item.nombre}}
								</div>
								<div class="col-2">
									{{item.padre}}
								</div>
							</div>
						{% endif %}
						{% if item.elemento == 'd' %}
							{% if item.primero %}
								<div class="row border-bottom" style="font-weight: bold">
									<div class="col-2 ml-4">Propiedades</div>
									<div class="col-2">Nombre</div>
									<div class="col-2">Tipo</div>
									<div class="col-2">Longitud</div>
									<div class="col-2">Foreign</div>
									<div class="col-1">Inicial</div>
								</div>

							{% endif %}
							<div class="row">
								<div class="col-2 ml-4" ></div>
								<div class="col-2"  style="color:magenta;font-weight: bold;">
									{{item.nombre}}
								</div>
								<div class="col-2  text-left" >
									{{item.nombretipo}}
								</div>
								<div class="col-2">
									{{item.largostring}}
								</div>
								<div class="col-2">
									{% if item.foranea != 'nada' %}
										{{item.foranea}}
									{% endif %}
								</div>
								<div class="col-1">
									{{item.inicial}}
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
<!-- 			<div class="col-2">
				{% block derecha %}{% endblock %}
			</div> -->
		</div>	
	</div>

<main role="main">
  <div class="container mx-auto mt-5">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="text-center">
              <input type="submit" class="btn btn-primary btn-block mt-3" value="Crear los modelos" />
            </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}