{% extends 'core/base.html' %}
{% load static %}
{% block menu %}
{% include 'core/includes/menu_crear.html'%}
{% endblock %}
{% block cuerpo %}
	<div class="container text-center mt-5">
		<div class="row font_encabezado mb-3 text-center">
			<div class="col-12">
				CREAR ARCHIVOS Y DIRECTORIOS
			</div>
		</div>
		<div class="row ">
<!-- 			<div class="col-2">
				{% block izquierda %}{% endblock %}
			</div> -->
			<div class="col-8 text-justify font_lista">
				<div class="container font_lista">
					{% for item in lista %}
						{% if item.elemento == 'p' %}
							<!-- Proyecto -->
							<div class="row">
								<div class="col-1" style="padding-left: 40px;">
									<img class="alto_ancho_imagen_lista " src="{% static 'core/img/directorio.gif' %}" alt="">
								</div>
								<div class="col-10 ">
									{{item.nombre}}
								</div>
							</div>
							<!-- Proyecto -->
							<div class="row">
								<div class="col-1"></div>
								<div class="col-1" style="padding-left: 40px;">
									<img class="alto_ancho_imagen_lista " src="{% static 'core/img/directorio.gif' %}" alt="">
								</div>
								<div class="col-9">{{item.nombre}}</div>
							</div>
							<!-- _pycache_ -->
							<div class="row">
								<div class="col-2"></div>
								<div class="col-1" style="padding-left: 40px;">
									<img class="alto_ancho_imagen_lista " src="{% static 'core/img/directorio.gif' %}" alt="">
								</div>
								<div class="col-9">__pycache__</div>
							</div>
							<!-- __init__.py -->
							<div class="row">
								<div class="col-2"></div>
								<div class="col-1" style="padding-left: 40px;">
									/*
								</div>
								<div class="col-9">__init__.py</div>
							</div>
							<!-- settings.py -->
							<div class="row">
								<div class="col-2"></div>
								<div class="col-1" style="padding-left: 40px;">
									/*
								</div>
								<div class="col-9">settings.py</div>
							</div>
							<!-- urls.py -->
							<div class="row">
								<div class="col-2"></div>
								<div class="col-1" style="padding-left: 40px;">
									/*
								</div>
								<div class="col-9">urls.py</div>
							</div>
							<!-- wsgi.py -->
							<div class="row">
								<div class="col-2"></div>
								<div class="col-1" style="padding-left: 40px;">
									/*
								</div>
								<div class="col-9">wsgi.py</div>
							</div>
						{% endif %}
						{% if item.elemento == 'a' %}
							<div class="row">
								<div class="col-1"></div>
								<div class="col-1" style="padding-left: 40px;">
									<img class="alto_ancho_imagen_lista " src="{% static 'core/img/directorio.gif' %}" alt="">
								</div>
								<div class="col-9">
									{{item.nombre}}
								</div>
							</div>
							<div class="row">
								<div class="col-2"></div>
								<div class="col-1" style="padding-left: 40px;">
									<img class="alto_ancho_imagen_lista " src="{% static 'core/img/directorio.gif' %}" alt="">
								</div>
								<div class="col-9">migrations</div>
							</div>
							<div class="row">
								<div class="col-3"></div>
								<div class="col-1" style="padding-left: 40px;">
									/*
								</div>
								<div class="col-8">__init__.py</div>
							</div>
							<div class="row">
								<div class="col-2"></div>
								<div class="col-1" style="padding-left: 40px;">
									<img class="alto_ancho_imagen_lista " src="{% static 'core/img/directorio.gif' %}" alt="">
								</div>
								<div class="col-9">templates</div>
							</div>
							<div class="row">
								<div class="col-3"></div>
								<div class="col-1" style="padding-left: 40px;">
									<img class="alto_ancho_imagen_lista " src="{% static 'core/img/directorio.gif' %}" alt="">
								</div>
								<div class="col-8">{{item.nombre}}</div>
							</div>
							<div class="row">
								<div class="col-2"></div>
								<div class="col-1" style="padding-left: 40px;">
									/*
								</div>
								<div class="col-9">__init__.py</div>
							</div>
							<div class="row">
								<div class="col-2"></div>
								<div class="col-1" style="padding-left: 40px;">
									/*
								</div>
								<div class="col-9">admin.py</div>
							</div>
							<div class="row">
								<div class="col-2"></div>
								<div class="col-1" style="padding-left: 40px;">
									/*
								</div>
								<div class="col-9">apps.py</div>
							</div>
							<div class="row">
								<div class="col-2"></div>
								<div class="col-1" style="padding-left: 40px;">
									/*
								</div>
								<div class="col-9">forms.py</div>
							</div>
							<div class="row">
								<div class="col-2"></div>
								<div class="col-1" style="padding-left: 40px;">
									/*
								</div>
								<div class="col-9">models.py</div>
							</div>
							<div class="row">
								<div class="col-2"></div>
								<div class="col-1" style="padding-left: 40px;">
									/*
								</div>
								<div class="col-9">tests.py</div>
							</div>
							<div class="row">
								<div class="col-2"></div>
								<div class="col-1" style="padding-left: 40px;">
									/*
								</div>
								<div class="col-9">urls.py</div>
							</div>
							<div class="row">
								<div class="col-2"></div>
								<div class="col-1" style="padding-left: 40px;">
									/*
								</div>
								<div class="col-9">views.py</div>
							</div>
						{% endif %}
<!-- 						{% if item.elemento == 'm' %}
							<div class="row">
								<div class="col-2"></div>
								<div class="col-10">
									{{item.nombre}}
								</div>
							</div>
						{% endif %} -->
					{% endfor %}
					<div class="row">
						<div class="col-1"></div>
						<div class="col-1" style="padding-left: 40px;">
							/*
						</div>
						<div class="col-9">manage.py</div>
						<div class="col-1"></div>
					</div>

				</div>
			</div>
<!-- 			<div class="col-2">
				{% block derecha %}{% endblock %}
			</div> -->
		</div>	
	</div>

<main role="main">
  <div class="container mx-auto mt-5">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="text-center">
              <input type="submit" class="btn btn-primary btn-block mt-3" value="Crear los directorios" />
            </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}