{% extends 'core/base.html' %}
{% load static %}
{% block menu %}
{% include 'core/includes/menu_crear.html'%}
{% endblock %}
{% block cuerpo %}
	<div class="container text-center mt-5">
		<div class="row font_encabezado mb-3 text-center">
			<div class="col-12">
				CREAR URLS
			</div>
		</div>
		<div class="row ">
<!-- 			<div class="col-2">
				{% block izquierda %}{% endblock %}
			</div> -->
			<div class="col text-justify font_lista">
				<div class="container font_lista">
					<div class="row border-bottom" style="font-weight: bold">
						<div class="col-2">MODULO</div>
						<div class="col-2">LISTAR</div>
						<div class="col-2">CREAR</div>
						<div class="col-2">EDITAR</div>
						<div class="col-2">BORRAR</div>
					</div>
					{% for item in lista %}
						{% if item.elemento == 'm' %}
							<div class="row  mt-2">
								<div class="col-2" style="color:red; font-weight: bold">
									{{item.nombre}}
								</div>
								<div class="col-2">
									{% if item.padre == 'nada' %}
										<input type="checkbox" name="fruit" value="" checked>
									{% endif %}
								</div>
								<div class="col-2">
									<input type="checkbox" name="fruit" value="" checked>
								</div>
								<div class="col-2">
									<input type="checkbox" name="fruit" value="" checked>
								</div>
								<div class="col-2">
									<input type="checkbox" name="fruit" value="" checked>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
<!-- 			<div class="col-2">
				{% block derecha %}{% endblock %}
			</div> -->
		</div>	
	</div>

<main role="main">
  <div class="container mx-auto mt-5">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="text-center">
              <input type="submit" class="btn btn-primary btn-block mt-3" value="Crear las Urls" />
            </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}