{% extends "core/base.html" %}

{% block menu %}
	{% include 'core/includes/menu_proyectos.html'%}
{% endblock %}

{% block cuerpo %}
	<div class="container mt-5">
		<div class="row">
			<div class="col-12">
				<form action="" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<p>Esta seguro de eliminar la Regla: <b>{{mensaje}}</b>?</p>
					<input type="submit" value="Aceptar" />
				</form>
				<p><a href="{% url 'propiedades:editar' propiedad_id %}?modelo_id={{modelo_id}}">Cancelar</a></p>
			</div>
		</div>
	</div>
{% endblock %}