{% extends 'core/base.html' %}
{% load static %}

{% block menu %}
  {% include 'core/includes/menu_sincrear.html'%}
{% endblock %}

{% block cuerpo %}


  <div class="container-fluid">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-6">
        <div class="container-fluid border rounded">
          <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="row font_encabezado mt-2 mb-4">
              <div class="col-10">
                REGLA: <b>{{nombre}}</b>
                &nbsp&nbsp<a href="{% url 'propiedades:editar' propiedad_id %}?modelo_id={{modelo_id}}">(atras)</a>
              </div>
              <div class="col-2">
                <a href="{% url 'proyectos:listaarbol' proyecto_id %}" style="color:blue;"><img class="alto_ancho_imagen_link_arbol mb-2 " src="{% static 'core/img/arbol.png' %}" alt=""></a>
              </div>
            </div>
            <div class="row">
              {% if 'ok' in request.GET %}
                <p style="color:green;">
                  Modelo editado correctamente
                </p>
              {% endif %}
            </div>
            <div class="row">
              {% if form.non_field_errors %}
                <ol>
                  {% for error in form.non_field_errors %}
                    <li class="color_error"><strong>{{ error|escape }}</strong></li>
                  {% endfor %}
                </ol>
              {% endif %}
            </div>
            {% include 'core/includes/controles_regla.html'%}
            <div class="row mb-4">
              <div class="col">
                <div class="text-center">
                  <input type="submit" class="btn btn-primary btn-block mt-3" value="Actualizar la Regla" />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-4">
        <div class="container-fluid">
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  </div>

{% endblock %}

